[Unit]
Description=Matrix media repo

[Service]
Type=simple
NotifyAccess=main
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3
LimitNOFILE=102400
User=media-repo
Group=media-repo
WorkingDirectory=/opt/media-repo
ExecStart=/opt/media-repo/bin/media_repo -config /etc/opt/media-repo
SyslogIdentifier=media-repo
#LogLevelMax=3
StandardOutput=null
#StandardError=null

[Install]
WantedBy=multi-user.target
